.game_listing {
  width: 90%;
  max-width: 1000px;
  margin-bottom: 50px;

  .game_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;

    .game {
      width: 100%;
      margin-top: 20px;

      img {
        width: 100%;
      }
    }

    .skeleton {
      width: 100%;
      aspect-ratio: 1 /2;
      border-radius: 10px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .game_listing {
    .game_grid {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
  }
}
