.menu_btn {
  max-width: 60px;
  width: 12vmin;
}
.menu_dropdown {
  position: absolute;
  top: 100%;
  right: 0px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  .menu {
    gap: 10px;
    padding: 10px;

    a {
      color: white;
      font-size: 13px;
    }
  }

  .lang_menu {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    .lang_item {
      gap: 5px;
      color: white;
      font-size: 12px;
      img {
        width: 22px;
      }
    }
  }
}
