.popup {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  iframe {
    width: 90vw;
    height: 56vw;
    max-width: 900px;
    max-height: 560px;
    background-color: black;
  }

  .close_popup {
    margin-top: 20px;
    font-size: 25px;
  }
}
